:root{
    --primary-color: #0f9d58;
}

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
}

.container{
    width: 100rem;
    height: 60rem;
    margin: auto;
    padding: 2rem;
    border-radius: 2rem;
    background: #e2f3e2;
}

.food-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7rem;
}

.food-menu button{
    margin: 0.2rem 1rem;
    padding: 1rem 4rem;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    box-shadow: 0 10px var(--primary-color);
    background: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s;
}

.food-menu button:hover, .food-menu button.active{
    background-color: #1be986;
    color: #fff;
}

.food-menu button.choose{
    transform: translateY(4px);
    box-shadow: 0 6px var(--primary-color);
}

.food-list{
    margin-inline: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 20rem);
    grid-template-rows: repeat(2, 20rem);
    grid-gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.food-item{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

.food-item.hide{
    display: none;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;    
    transition: 0.5s;
}

.food-item:hover{
    transform: scale(1.2);
}

.food-item:hover img{
    transform: scale(2) rotate(90deg);
}

